<!-- Default home page -->
<section>
	<div class="centered">
	  	<span class="caps"><%= process.env.HOSTNAME %></span>
	  	<hr><span class="caps">ENV: <%= process.env.NODE_ENV %></span>
	  	<hr><span class="caps">API VERSION:</span> <span>v<%= api.version %></span>
	</div>
</section>